.main_map .box {
	/* display: inline-block; */
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 70px auto;
	padding-top: 50px;
	padding-bottom: 20px;
	border: 1px solid #B4B4B5;
	box-shadow: 10px 10px 10px #b4b4b5;
	overflow: hidden;
}


.apps{
	display:none;
}
.disBlocks{
	display:block !important;
}
.main_map .box_left {
	width: 50%;
	display: flex;
	justify-content: space-between;
	font-family: 'Popins-Medium';
}

.main_map .box_right {
	padding-left: 50px;
	text-align: center;
	width: 40%;
	font-family: 'Popins-Bold';
}

.main_map .box_right img {
	width: 100%;
	height: 100%;
}

.main_map .triangle {
	width: 0px;
	border-top: 5px solid transparent;
	border-bottom: 10px solid #d25a24;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	transform: translateY(-3px);
	margin-left: 10px;
	margin-right: 5px;
}

.main_map .circle_green {
	width: 8px;
	height: 8px;
	/* margin: 8px 5px 15px 15px; */
	background-color: #05aa58;
	border-radius: 50%;
	display: flex;
}




.main2 {
	max-width: 1600px;
	margin: auto;
	padding: 80px 0;
}

.main2 .schedule {
	display: flex;
	justify-content: center;
	border: 1px solid #01823F;
	width: max-content;
	margin: 60px auto;
	border-radius: 555px;
}

.main2 .schedule a {
	background-color: #77C610;
	border-radius: 555px;
	padding: 10px 30px;
	color: #fff;
	font-family: 'Popins-Medium';
	font-size: 21px;
	border: 1px solid #77C610;
}

.main2 .schedule a:first-child {
	margin-right: 5px;
}

.main2 .schedule a:hover {
	background-color: #fff;
	color: #01823F;
	border-color: #01823F;
}

.main2 .schedule .active {
	background-color: #01823F;
	border-color: #01823F;
}

.main2 .content .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #77C610;
	padding-bottom: 30px;
}

.main2 .content .head .left {
	width: 20%;
	text-align: center;
}

.main2 .content .head .left img {
	width: 100%;
	margin-bottom: 40px;
}

.main2 .content .head .left h1 {
	color: #01823F;
	font-family: 'Popins-ExtraBold';
	font-size: 28px;
}

.main2 .content .head .right {
	width: 75%;
}

.main2 .content .head .right p {
	color: #515151;
	font-family: 'Popins-Light';
	font-size: 20px;
	line-height: 1.6;
}

.main2 .content .head .right>p {
	margin-bottom: 20px;
}

.main2 .content .head .right .RFbtn {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.main2 .content .head .right .RFbtn a {
	border-radius: 8px;
	padding: 10px 20px;
	font-size: 20px;
	font-family: 'Popins-Medium';
	cursor: pointer;
	border: 1px solid #01823F;
	color: #01823F;
	background-color: #fff;
	min-width: 9em;
	text-align: center;
	font-weight: 600;
	text-shadow: 5px 5px 10px #D6D6D6;
}

.main2 .content .head .right .RFbtn a:hover {
	background-color: #01823F;
	color: #fff;
	text-shadow: none;
}

.main2 .card-box,
.main2 .card-box2 {
	border-radius: 10px;
	display: flex;
	box-shadow: 0 0 10px #DFDFDF;
	margin: 50px 0;
	padding: 0 20px 20px 0;
	position: relative;
}

.card-box.pb-40 {
	padding-bottom: 25px;
}

.main2 .card-box2 {
	align-items: center;
	padding-bottom: 0;
}

.main2 .card-box2 h3 {
	margin-left: 50px;
	font-family: 'Popins-Bold';
	color: #77C610;
	font-size: 30px;
}

.main2 .card-box .time {
	background-color: #01823F;
	border-radius: 10px 0 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	position: absolute;
	height: 80px;
}
.main2 .content div:nth-last-child(2) .time {height:80px}
.main2 .card-box2 .time {
	background-color: #01823F;
	border-radius: 10px 0 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	height: 80px;
}

.main2 .card-box2 .time h2,
.main2 .card-box .time h2 {
	color: #fff;
	font-family: 'Popins-Black';
	font-size: 30px;
	margin: 0;
	margin-bottom: 20px;
}

.main2 .card-box2 .time h2 {
	margin-bottom: 0;
}

.main2 .card-box2 img {
	margin-left: 20px;
}

.main2 .card-box .time h2:last-child {
	margin-bottom: 0;
}

.main2 .card-box .right {
	margin-left: 3px;
	padding-top: 10px;

}

.main2 .card-box .right h1,
.main2 .card-box .right p span {
	font-family: 'Popins-Bold';
	color: #77C610;
	font-size: 30px;
	word-wrap: break-word;
}

.main2 .card-box .right p {
	font-family: 'Popins-Regular';
	color: #404040;
	font-size: 25px;
}

.main2 .card-box .right ul li {
	font-family: 'Popins-Regular';
	color: #404040;
	font-size: 25px;
	display: flex;
	align-items: center;
	word-wrap: break-word;
	flex-wrap: wrap;
}

.main2 .card-box .right ul li::before {
	content: '';
	width: 4px;
	height: 4px;
	margin-right: 10px;
	background-color: #404040;
	border-radius: 50%;
	flex-shrink: 0;
}

.main2 .card-box .right h2 {
	color: #548DD4;
	font-family: 'Popins-MediumItalic';
	font-size: 26px;
	margin-top: 15px;
}

.main2 .titips {
	position: relative;
	display: flex;
	align-items: center;
}

.main2 .titips span {
	color: #77C610;
	font-family: 'Popins-Bold';
	font-size: 31px;
	background-color: #fff;
	padding-right: 40px;
	z-index: 10;
}

.main2 .titips::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #B1B3B2;
	position: absolute;
	z-index: -1;
}

.main2 .sm-card {
	border: 1px solid #F3F3F3;
	border-radius: 10px 0 10px 0;
	padding: 15px 10px;
	/* width: fit-content; */
	display: flex;
	align-items: center;
	margin-top: 40px;
	min-width: 600px;
}

.main2 .sm-card:hover {
	box-shadow: 0 0 10px #DDDDDD;
}

.main2 .sm-card .w-160 {
	width: 100%;
	max-width: 160px;
}

.main2 .sm-card .sm-title {
	color: #01823F !important;
	border-bottom: 2px solid #77C610;
	text-align: left;
	min-width: 280px;
	padding-bottom: 10px;
}

.main2 .card-box .right>.sm-title {
	margin: 20px 0;
	color: #01823F !important;
	border-bottom: 2px solid #77C610;
	text-align: left;
	max-width: 280px;
	padding-bottom: 20px;
	margin-left: 10px;
}

.main2 .card-box .right .flex-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main2 .card-box .right .flex-card .sm-card {
	width: 49%;
	margin-top: 0;
	margin-bottom: 15px;
}

.main2 .sm-card .sm-left img,
.main2 .sm-card .left img {
	margin-top: 10px;
	width: 100%;
	max-width: 100px;
	margin-right: 5px;
}

.main2 .sm-card>img {
	width: 100%;
	max-width: 160px;
}

.main2 .sm-card .sm-right {
	margin-left: 40px;
	margin-right: 40px;
}

.main2 .card-box .sm-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main2 .card-box .sm-flex .sm-card {
	width: 49%;
	margin-top: 20px;
}

.main2 .card-box .sm-flex .sm-card.last-card .sm-right {
	margin: 0 10px;
}

.main2 .card-box .sm-flex .sm-card.last-card h1 {
	font-size: 24px;
}

.main2 .card-box3 {
	display: flex;
	align-items: center;
	position: relative;
}

.main2 .card-box3 .time {
	background-color: #01823F;
	border-radius: 10px 0 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 50px;
	position: absolute;
	z-index: 10;
}

.main2 .card-box3 .time h2 {
	color: #fff;
	font-family: 'Popins-Medium';
	font-size: 24px;
	margin: 0;
}

.main2 .card-box3 h1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main2 .card-box3 h1 span {
	background-color: #fff;
	z-index: 10;
	color: #01823F;
	font-family: 'Popins-Bold';
	padding: 0 20px;
}

.main2 .card-box3 h1::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #9EA09F;
	position: absolute;
	left: 0;
}









.outSwiperBox img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.outSwiperBoxTwo:hover {
	transform: scale(1.1);
	transition: 1s;
	cursor: pointer;
}

.outSwiperBox li {
	display: flex;
	/* width: 50%; */
	/* width: 30px; */
	justify-content: left;
	margin-top: 20px;
	font-family: 'Poppins--Medium';
}

.outSwiperBoxTitle {
	font-family: 'Poppins--Medium';
	color: #77C610;
	font-size: 35px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	cursor: pointer;
	justify-content: center;
	margin-top:50px;
}
.outSwiperBoxTitle:hover{
	transform: scale(1.1);
	transition: 1s;
}

.outSwiperBoxTitle span {
	background-image: linear-gradient(90deg, #77C610 20%, #01823F);
	display: inline-block;
	height: 5px;
	max-width: 150px;
	flex: 1;
	margin-left: 30px;
}

.outSwiperBox li div {
	text-align: left;
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 25px;

}

.outSwiperBox ul:nth-child(2) {
	/* width: 50%; */
	margin-left: 200px;
}




.outSwiperBox2 img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.outSwiperBoxTwo2:hover {
	transform: scale(1.1);
	transition: 1s;
	cursor: pointer;
}

.outSwiperBox2 li {
	display: flex;
	/* width: 50%; */
	/* width: 30px; */
	justify-content: left;
	margin-top: 20px;
	font-family: 'Poppins--Medium';
}

.outSwiperBoxTitle2 {
	font-family: 'Poppins--Medium';
	color: #77C610;
	font-size: 35px;
	display: flex;
	align-items: center;
	margin-bottom: 0px;
	cursor: pointer;
	justify-content: center;
}
.outSwiperBoxTitle2:hover{
	transform: scale(1.1);
	transition: 1s;
}

.outSwiperBoxTitle2 span {
	background-image: linear-gradient(90deg, #77C610 20%, #01823F);
	display: inline-block;
	height: 5px;
	max-width: 150px;
	flex: 1;
	margin-left: 30px;
}

.outSwiperBox2 li div {
	text-align: left;
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 25px;

}

.outSwiperBox2 ul:nth-child(2) {
	/* width: 50%; */
	margin-left: 200px;
}







.main4 .outSwiperBox2 {
	position: relative;
	
	padding: 60px 50px;
	margin: 30px 100px;
	display: flex;
	justify-content: center;
}
































.dialog_map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	justify-content: center;
}

.dialog_map>div {
	display: flex;
	justify-content: center;
}

.dialog_map>div>span {
	position: relative;
	display: flex;
	justify-content: center;
	top: 50%;
	transform: translateY(-50%);
}

.textcenter {
	/* margin: 0 auto; */
}

.main_map .box_left .circle_orange {
	width: 8px;
	height: 8px;
	margin: 8px 15px 15px 15px;
	background-color: #01823F;
	border-radius: 50%;
	transform: translateY(8px);
}

.main_map img {
	cursor: pointer;
}

.bindexoff {
	position: absolute;
	right: 30px;
	top: 30px;
	width: 30px !important;
	height: 30px;
	z-index: 1000;
	transform: tran;
}

.big_item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #5e5e5e;
	font-size: 14px;
}

.main_map .big {
	font-weight: 700;
	color: black;
	text-align: left;
}

.box_left li {
	line-height: 40px;
	font-size: 18px;
}

.main_map .orange {
	color: #212529;
}

/* ____ */
.main1 {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 100px 40px 185px 135px;
	background: url('../images/bg-main1.jpg') no-repeat;
	background-size: cover;
}

.main1 .left h1 {
	color: #fff;
	font-size: 49px;
	font-family: 'Popins-Black';
}

.main1 .left h2 {
	font-size: 49px;
	font-family: 'Popins-Black';
	color: #77C610;
	position: relative;
	width: max-content;
	margin: 10px 0;
}

.main1 .left h2::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: -65px;
}

.main1 .left h3 {
	font-size: 26px;
	font-family: 'Popins-ExtraLight';
	color: #fff;
}

.main1 .left h4 {
	font-size: 25px;
	font-family: 'Popins-SemiBold';
	color: #fff;
	margin: 40px 0;
}

.main1 .left h4 span {
	color: #E85547;
}

.main1 .left .btn {
	display: flex;
}

.main1 .left .btn a {
	border-radius: 8px;
	padding: 10px 10px;
	margin: 0 5px;
	font-size: 20px;
	font-family: 'Popins-Medium';
	cursor: pointer;
	border: 1px solid #01823F;
	color: #01823F;
	background-color: #fff;
	min-width: 9em;
	text-align: center;
	font-weight: 600;
	text-shadow: 10px 5px 10px #D6D6D6;
	margin-right: 50px;
}

.main1 .left .btn a:hover {
	background-color: #01823F;
	border: 1px solid #01823F;
	color: #fff;
	text-shadow: none;
}

.main1 .right {
	text-align: center;
}

.main1 .right .btn {
	background-color: #01823F;
	border: 0;
	padding: 5px 30px;
	border-radius: 8px;
	color: #fff;
	font-size: 20px;
	font-family: 'Popins-Medium';
}

.main1 .right .num {
	display: flex;
	/* margin-top: 30px; */
}

.main1 .right .num p {
	margin: 0 21px;
	font-family: 'Popins-Medium';
	font-size: 12px;
	color: #fff;
}

.main1 .right .num span {
	font-size: 24px;
	margin-right: 5px;
}

.main1 .box {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 10px;
	top: 60%;
	z-index: 999;
}

.main1 .box a {
	margin: 4px 0;
}

.main1 .box img {
	width: 28px;
	height: 28px;
}

.main2 {
	display: flex;
	padding: 20px 0;
	border-radius: 30px;
	position: relative;
	top: -10px;
	background-color: #fff;
	width: max-content;
	margin: 10px auto;
	box-shadow: 5px 5px 10px #D2D2D2;
}

.main2 div {
	border-right: 2px solid #95CEDC;
	text-align: center;
	padding: 0 30px;
}

.main2 div:last-child {
	border: 0;
}

.main2 div h1 {
	margin: 10px 0;
	color: #01823F;
	font-family: 'Popins-Bold';
}

.main2 div p {
	color: #421102;
	font-family: 'Popins-Bold';
	font-size: 18px;
}



.main3 {
	background: url('../images/bg-main2.jpg') no-repeat;
	padding: 70px 100px;
	background-size: cover;
}

.main3 .text {
	width: 58%;
}

.main3 h1 {
	color: #fff;
	font-family: 'Popins-Bold';
	font-size: 36px;
	margin-bottom: 45px;
	position: relative;
}

.main3 h1::after {
	content: '';
	width: 220px;
	height: 6px;
	background-image: linear-gradient(90deg, #77C610 20%, #01823F);
	position: absolute;
	top: 65px;
	left: 0;
}

.main3 ul li,
.main3 p {
	font-family: 'Popins-ExtraLight';
	color: #fff;
	font-size: 18px;
}

.main3 p span {
	color: #77C610;
	font-family: 'Popins-Bold';
}

.main3 ul {
	margin: 50px 0;
}

.main3 ul li {
	display: flex;
	align-items: center;
}

.main3 ul li:before {
	content: '';
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background-color: #fff;
	margin-right: 20px;
}

.advertisement-box {
	display: flex;
	justify-content: center;
}

.advertisement {
	position: fixed;
	bottom: 0;
	z-index: 99;
	width: 100%;
}

.advertisement .bg {
	width: 100%;
	vertical-align: bottom;
}

.advertisement .btn {
	position: absolute;
	bottom: 20%;
	left: 35%;
	width: 300px;
}

.advertisement div {
	position: absolute;
	right: 20px;
	top: 10px;
	color: #fff;
	font-family: 'Popins-Light';
	cursor: pointer;
}

.main4 {
	padding: 50px 0 0;
	margin: 60px 0;
}

main .title {
	color: #01823F;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Popins-Bold';
	font-size: 36px;
}

main .title::after {
	content: '';
	width: 220px;
	height: 6px;
	background-image: linear-gradient(90deg, #77C610 20%, #01823F);
	margin-top: 30px;
}

.main4 .outSwiperBox {
	position: relative;
	padding: 10px 50px;
	margin: 30px 100px;
	display: flex;
	justify-content: center;
}
.backgroundMain4{
	background-color: rgb(238, 238, 238);
}

.main4 .box1 {
	display: block;
}

.main4 .box2 {
	display: none;
}

.main4 .box3 {
	display: none;
}

.main4 .swiper-container {
	position: initial;
}

.main4 .swiper-slide {
	/* height: 106px; */
}

.main4 .swiper-slide img {
	width: calc(100% - 10px);
	height: calc(100% - 5px);
	box-shadow: 5px 5px 5px #E5E5E5;
	border: 1px solid #eeeeee;
}

.main4 .swiper-button-prev::after,
.main4 .swiper-button-next::after {
	display: none;
}

.main4 .swiper-button-next img {
	transform: rotateY(180deg);
}

.main5 {
	padding: 0px;
}

.main5 ul {
	margin: 70px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main5 ul li {
	width: calc(20% - 6px);
}

.main5 ul li img {
	border: 1px solid transparent;
	width: 100%;
}

.main5 ul li img:hover {
	box-shadow: 5px 5px 5px #E5E5E5;
	border: 1px solid #eeeeee;
}

.main6 {
	padding: 30px 0;
	max-width: 1560px;
	margin: auto;
	padding-bottom: 0;
}

.main6 ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 100px;
}

.main6 ul li {
	max-width: 230px;
	text-align: center;
	margin-bottom: 45px;
}

.main6 ul li img {
	width: 230px;
	height: 230px;
}

.main6 .mask-view {
	width: 230px;
	height: 230px;
	position: relative;
}

.main6 .mask-view:hover p {
	/* display: block; */
	opacity: 1;
}

.main6 .mask-view p {
	/* display: none; */
	opacity: 0;
	transition: 1s all;
	position: absolute;
	top: 0;
	font-family: 'Popins-Bold';
	font-size: 16px;
	background-color: #01823F66;
	width: 230px;
	height: 230px;
	line-height: 230px;
	color: #fff;
	cursor: pointer;
}

.main6 ul li h1 {
	font-family: 'Popins-Bold';
	color: #01823F;
	font-size: 16px;
	margin: 20px 0 25px;
}

.main6 ul li p {
	font-family: 'Popins-Light';
	color: #000000;
	font-size: 13px;
}

.main6 ul li h2 {
	font-family: 'Popins-Bold';
	font-size: 13px;
	margin-top: 28px;
}

.dialog {
	position: fixed;
	left: 20%;
	top: 30%;
	width: 60%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ACACAC;
	box-shadow: 10px 10px 10px #919191;
	border-radius: 10px;
	padding: 30px;
	display: none;
}

.dialog .head {
	border-bottom: 2px solid #C5B4BA;
	display: flex;
	justify-content: space-between;
}

.dialog .head h1 {
	font-family: 'Popins-Bold';
	color: #01823F;
	font-size: 20px;
}

.dialog .head h2 {
	font-family: 'Popins-Bold';
	font-size: 16px;
	margin: 10px 0;
}

.dialog .contet p {
	margin: 10px 0;
	font-family: 'Popins-Light';
	font-size: 16px;
}

.dialog .off {
	cursor: pointer;
}

.main7 {
	background-color: #F1F1F1;
	padding: 68px 0;
}

.main-box {
	max-width: 1580px;
	margin: auto;
}

.main-box2 {
	max-width: 1280px;
	margin: auto;
}

.main7 .introduce,
.main8 .introduce {
	color: #757474;
	text-align: center;
	margin-top: 35px;
	font-size: 20px;
	font-family: 'Popins-ExtraLight';
	margin-bottom: 45px;
}

.main7 .box1 {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 55px 0;
	border: 1px solid #B4B4B5;
	box-shadow: 10px 10px 10px #B4B4B5;
	margin: 25px 0;
}

.main7 .box1 h1 {
	color: #01823F;
	font-family: 'Popins-Bold';
	font-size: 30px;
}

.main7 .box1 img {
	width: 575px;
	cursor: pointer;
}

.main7 .box1 .fleximg {
	display: flex;
	justify-content: space-around;
}

.main7 .box2 {
	display: flex;
	justify-content: space-between;
}

.main7 .box2 .box1 {
	width: 49%;
	margin: 0;
}

.main7 .box2 .box1 img {
	width: 500px;
}

.main7 .box1 .fleximg img {
	width: 49%;
}

.main7 .intitle {
	color: #01823F;
	font-family: 'Popins-Bold';
	font-size: 36px;
	text-align: center;
	margin-top: 60px;
}

.main7 .flex-btn {
	display: flex;
	margin-top: 60px;
	justify-content: center;
}

.main7 .flex-btn .btn1,
.main7 .flex-btn .btn2 {
	position: relative;
}

.main7 .flex-btn .btn2 {
	margin-left: 50px;
}

.main7 .flex-btn .btn1 a {
	color: #fff;
	background-color: #01823F;
	border-radius: 10px;
	padding: 15px 50px;
	box-shadow: 5px 5px 10px #CCCCCC;
	font-family: 'Popins-Medium';
	font-size: 20px;
	position: relative;
	z-index: 10;
}

.main7 .flex-btn .btn1 a:hover,
.main7 .flex-btn .btn2 a:hover {
	background: #fff;
	color: #01823F;
}

.main7 .flex-btn .btn1:hover div,
.main7 .flex-btn .btn2:hover div {
	content: '';
	width: 100%;
	height: 30px;
	background: #01823F;
	position: absolute;
	left: 0;
	top: -20px;
	border-radius: 10px 10px 0 0;
	z-index: 0;
}

.main7 .flex-btn .btn2 a {
	color: #fff;
	background-color: #231815;
	border-radius: 10px;
	padding: 15px 50px;
	box-shadow: 5px 5px 10px #CCCCCC;
	font-family: 'Popins-Medium';
	font-size: 20px;
	position: relative;
	z-index: 10;
}

.dialog2 {
	position: fixed;
	left: 20%;
	top: 10%;
	z-index: 100;
	width: 60%;
	background: #fff;
	border: 1px solid #ACACAC;
	box-shadow: 10px 10px 10px #919191;
	border-radius: 10px;
	padding: 30px;
	display: none;
}

.dialog2 .head {
	display: flex;
	justify-content: space-between;
}

.dialog2 .head .left {
	font-family: 'Popins-Bold';
	color: #01823F;
	font-size: 20px;
}

.dialog2 .off {
	cursor: pointer;
}

.dialog2 .content {
	display: flex;
	align-items: flex-start;
	height: 400px;
	overflow-y: auto;
}

.dialog2 .content>img {
	width: 300px;
}

.dialog2 .content .cont p {
	margin: 10px 0;
	font-family: 'Popins-Light';
	font-size: 16px;
}

.dialog2 .content .cont a {
	color: #E95491;
}

.main8 {
	padding: 120px 0;
}

.main8 .box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main8 .box .card {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 10px 10px 10px #DDDDDD;
	padding: 30px;
	width: 28%;
	margin-bottom: 45px;
	text-align: center;
	cursor: pointer;
	transition: 1s all;
}

.main8 .box .card img {
	width: 100%;
}

.main8 .box .card h1 {
	color: #606060;
	font-family: 'Popins-Bold';
	font-size: 34px;
}

.main8 .box .card h2 {
	font-family: 'Popins-ExtraLight';
	color: #77C610;
	font-size: 28px;
}

.main8 .box .card h3 {
	font-family: 'Popins-Bold';
	background-color: #01823F;
	color: #fff;
	font-size: 38px;
	border-radius: 20px;
	padding: 10px 0;
	margin: 15px 0 20px;
}

.main8 .box .card a {
	font-family: 'Popins-Bold';
	background-color: #77C610;
	color: #fff;
	font-size: 24px;
	border-radius: 10px;
	padding: 5px 30px;
}

.main8 .box .card:hover {
	background-color: #01823F;
	transform: scale(1.1);
}

.main8 .box .card:hover h1 {
	color: #fff;
}

.main9 {
	background-color: #F1F1F1;
	padding: 60px 0;
}

.main9 .table {
	display: flex;
	align-items: center;
	box-shadow: 10px 10px 10px #DDDDDD;
	padding: 20px 0;
	transition: 1s all;
}

.main9 .table:hover {
	transform: scale(1.05);
}

.main9 .table .left {
	padding: 0 40px;
}

.main9 .table .left h1 {
	font-family: 'Popins-SemiBold';
	text-align: center;
	font-size: 30px;
}

.main9 .table .right {
	padding: 0 40px;
	flex: 1;
}

.main9 .table .right .top,
.main9 .table .right .bottom {
	display: flex;
	padding: 28px 0;
}

.main9 .table .right h1 {
	font-size: 26px;
	font-family: 'Popins-Light';
	margin-top: 20px;
}

.main9 .table .right h2 {
	font-size: 24px;
	font-family: 'Popins-Light';
	margin-top: 5px;
}

.main9 .table .right .cRight {
	margin-left: 38px;
}

.main9 .table1 {
	background-color: #dceef3;
}

.main9 .table1 h1 {
	color: #01823F;
}

.main9 .table1 h2 {
	color: #231815;
}

.main9 .table1 .right {
	border-left: 2px solid #77C610;
}

.main9 .table1 .right .top {
	border-bottom: 2px solid #77C610;
}

.main9 .table2 {
	background-color: #fffaea;
	margin-top: 35px;
}

.main9 .table2 h1 {
	color: #01823F;
}

.main9 .table2 h2 {
	color: #231815;
}

.main9 .table2 .right {
	border-left: 2px solid #01823F;
}

.main9 .table2 .right .top {
	border-bottom: 2px solid #01823F;
}


.main9 .table3 {
	background-color: #effafd;
	margin-top: 35px;
}

.main9 .table3 h1 {
	color: #01823F;
}

.main9 .table3 h2 {
	color: #231815;
}

.main9 .table3 .right {
	border-left: 2px solid #01823F;
}

.main9 .table3 .right .top {
	border-bottom: 2px solid #01823F;
}


.main9 .btn-box {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.main9 .btn {
	position: relative;
	margin-top: 40px;
	width: max-content;
	padding: 0;
}

.main9 .btn a {
	color: #fff;
	background-color: #01823F;
	border-radius: 10px;
	padding: 15px 50px;
	box-shadow: 5px 5px 10px #CCCCCC;
	font-family: 'Popins-Bold';
	position: relative;
	z-index: 10;
}

.main9 .btn a:hover {
	background: #fff;
	color: #01823F;
}

.main9 .btn:hover div {
	content: '';
	width: 100%;
	height: 30px;
	background: #01823F;
	position: absolute;
	left: 0;
	top: -20px;
	border-radius: 10px 10px 0 0;
	z-index: 0;
}

.main10 {
	padding-top: 100px;
}

.main10 .swiper-container3 {
	position: relative;
	overflow: hidden;
	background: url('../images/img-Report.png') no-repeat;
}

.main10 .swiper-slide {
	display: flex;
	justify-content: center;
	padding: 95px 0;
}

.main10 .swiper-container3 .swiper-button-prev:after,
.main10 .swiper-container3 .swiper-button-next:after {
	display: none;
}

.main10 .swiper-container3 .swiper-button-next {
	right: 10px;
	width: 50px;
}

.main10 .swiper-container3 .swiper-button-prev {
	width: 50px;
	left: 10px;
}

.main10 .swiper-container3 .swiper-button-prev img {
	width: 100%;
}

.main10 .swiper-container3 .swiper-button-next img {
	transform: rotateY(180deg);
	width: 100%;
}

.main10 .swiper-container3 {
	--swiper-pagination-color: #77C610;
}

.main10 .swiper-slide>img {
	width: 660px;
	transition: 1s all;
}

.main10 .swiper-slide>img:hover {
	transform: scale(1.05);
}

.main10 .swiper-slide .right {
	margin-left: 120px;
}

.main10 .swiper-slide .right h1 {
	color: #fff;
	font-family: 'Popins-Bold';
	font-size: 36px;
	display: flex;
	flex-direction: column;
}

.main10 .swiper-slide .right h1::after {
	content: '';
	width: 220px;
	height: 6px;
	margin: 10px 0 25px;
	background-image: linear-gradient(90deg, #77C610 20%, #01823F);
}

.main10 .swiper-slide .right p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 20px;
	font-family: 'Popins-Thin';
	width: 600px;
}

.main10 .swiper-slide .right .btn {
	position: relative;
	width: max-content;
	padding: 0;
}

.main10 .swiper-slide .right .btn a {
	font-size: 20px;
	color: #01823F;
	background-color: #ffeca6;
	border-radius: 10px;
	padding: 15px 50px;
	font-family: 'Popins-MediumItalic';
	position: relative;
	z-index: 10;
}


.main10 .swiper-slide .right .btn a:hover {
	background: #fff;
	color: #01823F;
}

.main10 .swiper-slide .right .btn:hover div {
	content: '';
	width: 100%;
	height: 30px;
	background: #ffeca6;
	display: block;
	position: absolute;
	left: 0;
	top: -20px;
	border-radius: 10px 10px 0 0;
	z-index: 0;
}

.main11 {
	padding-top: 120px;
}

.main11 .box {
	padding-top: 60px;
	position: relative;
}

.main11 .box img {
	width: 100%;
	vertical-align: bottom;
}

.main11 .box .img-box1 {
	background-image: url('../images/index-events1.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 170px 94px;
}

.main11 .box .img-box1 h1 {
	color: #fff;
	font-family: 'Popins-Medium';
	width: 460px;
	font-size: 28px;
	text-shadow: 4px 4px 4px #626262;
	line-height: 1.7;
}

.main11 .box .img-box1 h2 {
	line-height: 2;
	margin-top: 50px;
	color: #fff;
	font-family: 'Popins-Light';
	/* width: 40%; */
	width: 700px;
	font-size: 20px;
	text-shadow: 4px 4px 4px #626262;
	display: flex;
	align-items: baseline;
}

.main11 .box .img-box1 h2 img,
.main11 .box .img-box2 h2 img {
	width: 20px;
}

.main11 .box .img-box2 h2 img {
	transform: rotate(180deg)
}

.main11 .box .img-box2 {
	background-image: url("../images/index-events2.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 170px 160px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.main11 .box .img-box2 h1 {
	color: #fff;
	font-family: 'Popins-Medium';
	font-size: 28px;
	text-shadow: 4px 4px 4px #626262;
	line-height: 1.7;
	/* width: 48%; */
	width: 600px;
	text-align: right;
}

.main11 .box .img-box2 h2 {
	line-height: 2;
	margin-top: 50px;
	color: #fff;
	font-family: 'Popins-Light';
	font-size: 20px;
	text-shadow: 4px 4px 4px #626262;
	display: flex;
	align-items: center;
}

.main11 .box .btn-box {
	position: absolute;
	left: calc(50% - 152px);
	top: calc(50% - 35px);
	text-align: center;
	display: flex;
	justify-content: center;
}

.main11 .box .btn-box .btn {
	position: relative;
	width: max-content;
	padding: 0;
}

.main11 .box .btn-box .btn a {
	font-size: 20px;
	color: #01823F;
	background-color: #ffeca6;
	border-radius: 10px;
	padding: 15px 50px;
	font-family: 'Popins-MediumItalic';
	position: relative;
	z-index: 10;
}

.main11 .box .btn-box .btn a:hover {
	background: #fff;
	color: #01823F;
}

.main11 .box .btn-box .btn:hover div {
	content: '';
	width: 100%;
	height: 30px;
	background: #ffeca6;
	display: block;
	position: absolute;
	left: 0;
	top: -20px;
	border-radius: 10px 10px 0 0;
	z-index: 0;
}

.main12 {
	padding: 120px 0;
}

.main12 .main-box1 {
	display: block;
}

.main12 .main-box2 {
	display: none;
}

.main12>a {
	color: #421102;
	font-family: 'Popins-Medium';
	display: flex;
	justify-content: center;
	font-size: 15px;
	margin-top: 60px;
	align-items: center;
}

.main12>a img {
	width: 22px;
	margin-left: 10px;
	transform: rotateY(180deg);
}

.main12>a:hover {
	color: #77C610;
}

.main12>a .none,
.main12>a:hover .normal {
	display: none;
}

.main12>a:hover .none {
	display: block;
}

.main12 .main-box {
	margin-top: 60px;
}

.main12 .swiper-container {
	padding-bottom: 70px;
}

.main12 .swiper-slide {
	/* height: 106px; */
}

.swiper-container {
	--swiper-pagination-color: #01823F;
}

.main12 .swiper-slide img {
	width: calc(100% - 10px);
	height: calc(100% - 5px);
	box-shadow: 5px 5px 5px #E5E5E5;
	border: 1px solid #eeeeee;
}

.main13 ul {
	display: flex;
	flex-wrap: wrap;
}

.main13 ul li {
	width: calc(100% / 6);
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.main13 ul li img {
	width: 100%;
	height: 100%;
	transition: 1s all;
}

.main13 ul li:hover::after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	background-color: #00000050;
	position: absolute;
	top: 0;
	z-index: 10;
}

.main13 ul li:hover img {
	transform: scale(1.1);
}

.main13 .preview-swiper {
	background: #00000070;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
}

.main13 .swiper-container2 {
	position: relative;
	width: 80%;
	left: 10%;
	top: 20%;
}

.main13 .swiper-slide {
	text-align: center;
}

.main13 .swiper-slide img {
	width: 60%;
}

.main13 .preview-swiper .swiper-button-next {
	right: 22%;
}

.main13 .preview-swiper .swiper-button-prev {
	left: 22%;
}

.main13 .preview-swiper .swiper-button-prev img {
	width: 50px;
}

.main13 .preview-swiper .swiper-button-next img {
	transform: rotateY(180deg);
	width: 50px;
}

.main13 .preview-swiper .swiper-button-next::after,
.main13 .preview-swiper .swiper-button-prev::after {
	display: none;
}

.main13 .preview-swiper .off {
	position: absolute;
	right: 20%;
	top: -10%;
	cursor: pointer;
}


.main16 {
	padding: 0px;
}

.main16 ul {
	margin: 70px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main16 ul li {
	width: calc(20% - 6px);
}

.main16 ul li img {
	border: 1px solid transparent;
	width: 100%;
}

.main16 ul li img:hover {
	box-shadow: 5px 5px 5px #E5E5E5;
	border: 1px solid #eeeeee;
}














@media screen and (max-width:768px) {
	main .title {
		text-align: center;
		font-size: 18px;
	}

	main .title::after {
		margin-top: 10px;
	}

	.main1 {
		background-color: black;
		flex-direction: column;
		padding: 20px 20px;
		margin-top: 160px;
		background-size: cover;
		background-position: center;
	}

	.main1 .left h1 {
		font-size: 20px;
	}

	.main1 .left h2 {
		font-size: 20px;
	}

	.main1 .left h2::after {
		bottom: -55px;
	}

	.main1 .left h3 {
		font-size: 18px;
	}

	.main1 .left h4 {
		font-size: 18px;
		margin-bottom: 15px;

	}

	.main1 .left .btn {
		align-items: center;
		justify-content: space-around;
	}

	.main1 .left .btn a {
		margin: 10px 0;
		font-size: 18px;
	}

	.main1 .right .btn {
		width: calc(100% - 24px);
	}

	.main1 .right .num {
		/* margin-top: 10px; */
		justify-content: space-around;
		padding: 0 10%;
	}

	.main1 .right .num p {
		margin: 0;
	}

	.main1 .right .num span {
		font-size: 18px;
	}

	/* .main1 .box img {
		width: 40px;
		height: 40px;
	} */
	.main1 .box {
		flex-direction: unset;
		justify-content: space-around;
		width: 100%;
		background-color: #fff;
		bottom: 0;
		right: 0;
		top: auto;
		padding: 10px 0;
	}

	.main2 {
		padding: 20px 10px;
		position: unset;
		flex-wrap: wrap;
		justify-content: center;
		width: auto;
		margin: 20px 10px;
	}

	.main2 div {
		border-right: 0;
		width: 48%;
	}

	.main2 div h1 {
		/* font-size: 18px; */
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.main2 div p {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.main3 {
		padding: 20px 20px;
	}

	.main3 .text {
		width: 100%;
	}

	.main3 h1 {
		font-size: 20px;
		margin-bottom: 30px;
	}

	.main3 h1::after {
		top: 35px;
	}

	.main3 ul li,
	.main3 p {
		font-size: 14px;
	}

	.main3 ul {
		margin: 10px 0;
	}

	.main4 {
		padding: 20px 0;
	}

	.main4 .box1 {
		display: none;
	}

	.main4 .swiper-container4 {
		overflow: hidden;
	}

	.main4 .box2 {
		display: block;
	}

	.main4 .outSwiperBox {
		margin: 20px;
		padding: 0;
	}

	.main4 .swiper-slide img {
		/* width: 100%; */
		height: 100%;
	}

	.main5 ul {
		margin: 0;
	}

	.main5 ul li {
		width: calc(50% - 4px);
		text-align: center;
		margin-top: 5px;
	}

	.main5 ul li img {
		width: 100%;
	}

	.main6 .mask-view {
		margin: auto;
	}

	.main6 ul {
		margin-top: 10px;
	}

	.main6 ul li {
		width: 100%;
		max-width: 100%;
		margin: 10px 10px;
		padding: 20px 10px;
		background-color: #f7f7f7;
	}

	.main6 ul li h1 {
		margin: 10px 0;
	}

	.main6 ul li p {
		margin-bottom: 10px;
	}

	.main6 ul li h2 {
		margin-top: 10px;
	}

	.dialog {
		width: 94%;
		left: 3%;
	}

	.dialog .contet {
		height: 200px;
		overflow-y: auto;
	}

	.dialog .off {
		width: 30px;
	}

	.dialog .off img {
		width: 100%;
	}

	.main7 {
		padding: 20px 0 30px;
	}

	.main7 .box1 {
		margin: 20px 10px;
		padding: 20px 0;
	}

	.main7 .box1 h1 {
		text-align: center;
		font-size: 18px;
	}

	.main7 .box1 img,
	.main7 .box2 .box1 img,
	.main7 .box1 .fleximg img {
		width: 98%;
	}

	.main7 .box2 {
		flex-direction: column;
	}

	.main7 .box2 .box1 {
		width: 100%;
	}

	.main7 .box2 .box1:first-child {
		margin-bottom: 20px;
	}

	.main7 .box1 .fleximg {
		flex-direction: column;
	}

	.main7 .box2 {
		margin: 20px 10px;
	}

	.main7 .intitle {
		margin-top: 20px;
		font-size: 18px;
	}

	.main7 .flex-btn {
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}

	.main7 .flex-btn .btn2 {
		margin-top: 40px;
		margin-left: 0;
	}

	.main7 .flex-btn .btn2 a {
		text-align: center;
		padding: 15px 25px;
		margin: 0;
	}

	.main7 .flex-btn .btn2 a,
	.main7 .flex-btn .btn1 a {
		font-size: 18px;
	}

	.dialog2 {
		width: 94%;
		left: 3%;
		padding: 20px;
		top: 20%;
	}

	.dialog2 .head {
		align-items: center;
	}

	.dialog2 .content {
		flex-direction: column;

	}

	.dialog2 .off {
		width: 20px;
	}

	.dialog2 .off img {
		width: 100%;
	}

	.dialog2 .content>img {
		width: 100%;
	}

	.dialog2 .content .cont p {
		font-size: 14px;
	}

	.main8 {
		padding: 20px 0;
	}

	.main8 .mt-75 {
		margin-top: 10px;
	}

	.main7 .introduce,
	.main8 .introduce {
		font-size: 16px;
		margin: 20px 10px;
	}

	.main8 .box {
		justify-content: center;
	}

	.main8 .box .card {
		width: calc(100% - 20px);
		margin-bottom: 20px;
		padding: 20px;
	}

	.main8 .box .card h1 {
		font-size: 18px;
		margin-top: 10px;
	}

	.main8 .box .card h2 {
		font-size: 16px;
		margin-bottom: 0;
	}

	.main8 .box .card h3 {
		font-size: 16px;
		border-radius: 4px;
		margin: 10px 0;
	}

	.main8 .box .card a {
		font-size: 16px;
		border-radius: 4px;
	}

	.main9 {
		padding: 30px 0;
	}

	.main9 .table {
		flex-direction: column;
		margin: 20px 10px;
		width: calc(100% - 20px);
		box-shadow: none;
		padding: 20px 10px;
	}

	.main9 .table .left {
		padding: 0;
	}

	.main9 .table .left h1 {
		font-size: 18px;
	}

	.main9 .table .right {
		border: 0;
		padding: 0;
	}

	.main9 .table1 .right {
		border-top: 2px solid #8E88A3;
	}

	.main9 .table2 .right .top {
		border-top: 2px solid #E99AB6;
	}

	.main9 .table .right .cRight {
		margin-left: 0;
		text-align: center;
		padding: 0;
	}

	.main9 .table .right .top,
	.main9 .table .right .bottom {
		flex-direction: column;
		align-items: center;
		padding: 10px 0;
	}

	.main9 .table .right h1 {
		font-size: 18px;
		margin: 0;
	}

	.main9 .table .right h2 {
		font-size: 14px;
	}

	.main9 .btn-box {
		margin-top: 0px;
	}

	.main9 .btn {
		margin-top: 10px;
	}

	.main10 {
		padding-top: 20px;
	}

	.main10 .swiper-container3 {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	.main10 .swiper-slide {
		flex-direction: column;
		align-items: center;
		width: 90%;
		padding: 20px 0;
	}

	.main10 .swiper-slide>img {
		width: 90%;
	}

	.main10 .swiper-slide .right {
		text-align: center;
		margin: 10px 0 20px 0;
		padding: 0 10px;
	}

	.main10 .swiper-slide .right h1 {
		font-size: 18px;
		align-items: center;
	}

	.main10 .swiper-slide .right h1::after {
		margin-bottom: 10px;
	}

	.main10 .swiper-slide .right p {
		font-size: 14px;
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
	}

	.main10 .swiper-slide .right .btn {
		padding: 0;
	}

	.main10 .swiper-slide .right .btn a {
		font-size: 16px;
		padding: 10px 20px;
	}

	.main10 .swiper-container3 .swiper-button-prev,
	.main10 .swiper-container3 .swiper-button-next {
		display: none;
	}

	.main11 {
		padding-top: 20px;
	}

	.main11 .box {
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main11 .box .btn-box {
		left: unset;
		top: unset;
		bottom: 20px;
	}

	.main11 .box .btn-box .btn {
		padding: 0;
	}

	.main11 .box .btn-box .btn a {
		font-size: 16px;
		padding: 10px 20px;
	}

	.main11 .box .img-box1,
	.main11 .box .img-box2 {
		padding: 30px 10px;
	}

	.main11 .box .img-box2 {
		padding-bottom: 60px;
	}

	.main11 .box .img-box1 h1,
	.main11 .box .img-box2 h1 {
		font-size: 10px;
		/* word-break: break-all; */
		width: 60%;
	}

	.main11 .box .img-box1 h2,
	.main11 .box .img-box2 h2 {
		font-size: 10px;
		width: 60%;
		/* word-break: break-all; */
		margin-top: 10px;
		align-items: baseline;
	}

	.main11 .box .img-box2 h2 {
		text-align: right;
	}

	.main11 .box .img-box1 h2 img,
	.main11 .box .img-box2 h2 img {
		width: 15px;
	}

	.main12 {
		padding: 20px 0;
	}

	.main12>a {
		margin-top: 20px;
	}

	.main12 .main-box {
		margin-top: 20px;
	}

	.main12 .main-box1 {
		display: none;
	}

	.main12 .main-box2 {
		display: block;
		padding: 0 10px;
	}

	.main12 .swiper-slide {
		height: 83px;
	}

	.main12 .swiper-container4 {
		overflow: hidden;
		/* display: none; */
	}

	.main13 ul li {
		width: calc(100% / 2);
	}

	.main13 .swiper-slide img {
		width: 100%;
	}

	.main13 .swiper-container2 {
		top: 42%;
		overflow-x: clip;
	}

	.main13 .preview-swiper .off {
		top: -20%;
		right: 5px;
		z-index: 10;
		width: 20px;
	}

	.main13 .preview-swiper .off img {
		width: 100%;
	}

	.main13 .preview-swiper .swiper-button-next,
	.main13 .preview-swiper .swiper-button-prev {
		display: none;
	}
}




@media screen and (min-width:769px) and (max-width:1335px) {
	main .title::after {
		content: '';
		width: 220px;
		height: 6px;
		background-image: linear-gradient(90deg, #77C610 20%, #01823F);
		margin-top: 15px;
	}

	.main1 {
		display: block !important;
	}

	.main1 .right .num {
		justify-content: space-around;
		width: 50%;
	}

	.main1 .right {
		text-align: left;
	}

	.main1 .left h4 {
		font-size: 18px;
		margin-bottom: 5px;

	}

	.main1 .left .btn {
		flex-direction: column;
	}

	.main1 .left .btn a {
		width: 50%;
		margin: 5px 0;
		height: 50px;
	}

	.main1 .left h1 {
		font-size: 40px;
	}

	.main1 .left h2 {
		font-size: 40px;
	}

	.main1 .right .btn {
		width: calc(50% - 0.75rem);
		height: 50px;
		margin-left: 0.75rem;
		box-sizing: border-box;
	}

	.main2 {
		width: 90% !important;
		/* padding: 14px 0; */
		display: flex;
		justify-content: center;
	}

	.main2 div p {
		font-size: 12px;
	}

	.main3 h1 {
		font-size: 20px;
	}

	.main3 ul li,
	.main3 p {
		font-size: 14px;
	}

	.main3 h1::after {
		content: '';
		width: 220px;
		height: 6px;
		background-image: linear-gradient(90deg, #77C610 20%, #01823F);
		position: absolute;
		top: 35px;
		left: 0;
	}

	.main3 {
		margin-top: -55px;
		padding: 45px 45px;
	}

	.main3 .text {
		width: 70%;
	}

	.main3 ul {
		margin: 32px 0;
	}

	.main4 .box1 {
		display: none;
	}

	.main4 {
		padding: 40px 0;
	}

	.main4 .outSwiperBox {
		padding: 50px 50px;
	}

	.main4 .box2 {
		display: none;
	}

	.main4 .box3 {
		display: block;
	}

	.main5 {
		padding: 0px 0;
	}

	.main5 ul {
		margin: 50px 100px;
	}

	.main6 {
		padding: 0;
	}

	.main6 ul {
		margin-top: 50px;
	}

	.main6 ul li {
		width: 25%;
	}

	.main6 ul {
		justify-content: left;
	}

	.main6 .mask-view {
		margin: 0 auto;

	}

	.main6 ul li {
		max-width: none;
	}

	.main7 {
		/* background-color: #F1F1F1; */
		padding: 42px 0;
	}

	.main7 .introduce,
	.main8 .introduce {
		font-size: 16px;
	}

	.main7 .intitle {
		font-size: 14px;
	}

	.swiper-container5 {
		overflow: hidden;
	}

	.main7 .box1 {
		margin: 25px auto !important;
		width: 90%;
	}

	.main7 .box2 {
		margin: 0 auto;
		width: 90%;
	}

	.main7 .box1 img {
		width: 300px;
	}

	.main7 .box1 h1 {
		font-size: 22px;
	}

	.main7 .box2 .box1 img {
		width: 70% !important;
	}

	.main7 .box1 .fleximg {
		width: 90%;
	}

	.main7 .box1 {
		padding: 15px 0;
	}

	.main8 .box {
		justify-content: space-around;
	}

	.main8 {
		padding: 50px 0;
	}

	.main8 .box .card h2 {
		font-size: 20px;
	}

	.main8 .box .card h1 {
		font-size: 21px;
		margin-top: 10px;
	}

	.main8 .box .card h3 {
		font-size: 20px;
	}

	.main8 .box .card a {
		font-size: 14px;
	}

	.mt-75 {
		margin-top: 12px;
	}

	.main9 {
		background-color: #F1F1F1;
		padding: 50px 0;
	}

	main .title {
		font-size: 25px;
	}

	.main9 .table .left h1 {
		font-size: 18px;
	}

	.main9 .table .right h1 {
		font-size: 20px;
	}

	.main9 .table .right h2 {
		font-size: 18px;
	}

	.main9 .table .right .top,
	.main9 .table .right .bottom {
		padding: 0;
	}

	.main9 .btn-box {
		margin-top: 10px;
	}

	.main10 {
		padding-top: 0px;
	}

	.main11 {
		/* margin-top: 50px; */
		padding-top: 50px;
	}

	.main11 .box .btn-box {
		top: calc(50% - 48px);
	}

	.main11 .box .img-box1 h2 {
		width: 600px;
	}

	.main12 {
		padding: 50px 0;
	}

	.main10 .swiper-slide .right p {
		font-size: 16px;
		margin-bottom: 25px;
	}

	.main10 .swiper-slide {
		align-items: center;
	}

	.main10 .swiper-slide .right {
		margin-left: 20px;
	}

	.main10 .swiper-slide .right h1 {
		font-size: 30px;
	}

	.main10 .swiper-slide>img {
		width: 30%;
		height: 100%;
	}

	.main11 .box {
		padding-top: 34px;
	}

	.main13 .preview-swiper .off {
		right: -5%;
		top: -15%;
	}

}

@media screen and (max-width:458px) {
	.main11 .box .img-box2 {
		background-position: center right;
	}

	.main1 .left .btn a {
		font-size: 16px;
	}

	.main4 .swiper-slide {
		height: 74px;
	}
}

@media screen and (max-width:375px) {
	.main4 .swiper-slide {
		height: 64px;
	}
}

@media screen and (min-width:769px) and (max-width:1024px) {
	.main6 ul li {
		width: 33%;
	}

	.main11 .box .img-box2,
	.main11 .box .img-box1 {
		padding: 150px 80px;
	}
	.outSwiperBoxTitle{
		font-size: 25px;
	}
	.outSwiperBox li div{
		font-size: 15px;
	}
}

@media screen and (min-width:1335px) and (max-width:1379px) {
	.main6 ul {
		justify-content: left;
	}

	.main6 ul li {
		width: 25%;
		text-align: center;
	}

	.main6 ul li {
		max-width: none;
	}

	.main6 .mask-view {
		margin: auto;
	}
}

@media screen and (max-width:768px) {

	.outSwiperBox li {
		width: 100%;
	}

}

@media screen and (max-width:1400px) {
	.main_map .box {
		display: block;
	}

	.main_map .box_left {
		width: 100%;
	}

	.main_map .box_right {
		width: 100%;
	}

	.main_map .box_right .big {
		font-size: 18px;
		margin-top: 30px;
		text-align: left;
	}

	.box_left li {
		line-height: 30px;
		margin-top: 10px;
		font-size: 14px;
	}

	.main_map .box {
		width: 100%;
	}

	.main_map img {
		width: 100%;
		height: auto;
	}

	.big_item {
		font-size: 12px;
		margin-top: 10px;
	}

	.main_map .box_right {
		padding-left: 10px;
	}

	.main_map .circle_green {
		width: 6px;
		height: 16px;
		border-radius: 10px;
	}

	.main_map .triangle {
		width: 6px;
		height: 16px;
		background-color: #d25a24;
		border-top: 0px solid transparent;
		border-radius: 10px;
		border-bottom: 0px solid #d25a24;
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		transform: translateY(-0px);
		margin-left: 10px;
		margin-right: 5px;
	}

	.outSwiperBox ul {
		width: 100%;
		/* text-align: center; */
	}

}

@media screen and (max-width:1265px) {
	.main4 .outSwiperBox {
		/* display: block; */
		padding: 0 0;
		margin: 30px 30px;
	}

	.outSwiperBox ul:nth-child(2) {
		margin-left: 20px;
	}
}

@media screen and (max-width:768px) {
	.main4 .outSwiperBox {
		display: block;
	}

	.outSwiperBox ul:nth-child(2) {
		margin-left: 0;
		margin-top: 30px;
	}

	.outSwiperBoxTitle {
		font-size: 18px;
	}

	.outSwiperBoxTitle span {
		max-width: 80px;
	}

	.outSwiperBox li div {
		margin: 0 auto;
		text-align: center;
	}

	.outSwiperBox li:nth-child(1) {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}

	.outSwiperBoxTitle span {
		display: none;
	}
}
