#app {
	background: url('../images/bg-main1.png') no-repeat;
	background-size: cover;
	background-position: center right;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.page1 {
	background-color: #00000080;
	border-radius: 16px;
	padding: 50px;
	min-width: 700px;
}

.page1 h1,
.page2 h1,
.page3 h1,
.page4 h1 {
	color: #fff;
	font-family: 'Popins-Medium';
	font-size: 40px;
	margin-bottom: 60px;
	text-align: center;
}

.page1 .form-item .top {
	color: #fff;
	font-size: 24px;
	font-family: 'Popins-Medium';
	margin: 30px 0 20px;
}

.page1 .form-item input {
	width: 100%;
	border: 2px solid #736969;
	background-color: #00000080;
	font-family: 'Popins-Medium';
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	box-shadow: 10px 10px 10px #222222;
	font-size: 20px;
}

.page1 .btn-box {
	text-align: right;
	margin-top: 30px;
}

.page1 .btn-box button {
	font-family: 'Popins-Medium';
	padding: 10px 50px;
	border: 0;
	border-radius: 10px;
	background-color: #E85547;
	color: #fff;
	font-size: 20px;
	box-shadow: 10px 10px 10px #222222;
}

.page2 {
	background-color: #00000080;
	border-radius: 16px;
	padding: 50px;
	max-width: 1500px;
}

.page2 p {
	color: #DAD9D8;
	font-size: 20px;
	font-family: 'Popins-Light';
	margin: 15px 0;
}

.page2 .btn-box {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page2 .btn-box button {
	font-family: 'Popins-Medium';
	padding: 10px 50px;
	border: 0;
	border-radius: 10px;
	background-color: #E85547;
	color: #fff;
	font-size: 20px;
	box-shadow: 10px 10px 10px #222222;
}

.page3 {
	background-color: #00000080;
	border-radius: 16px;
	padding: 50px;
	margin: 50px 0;
}

.page3 .page3-flex {
	display: flex;
	justify-content: space-between;
}

.page3 .page3-flex .left {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;

}

.page3 .page3-flex .left img {
	width: 100%;
}

.page3 .page3-flex .left a {
	font-family: 'Popins-Medium';
	padding: 10px 10px;
	border: 0;
	border-radius: 10px;
	background-color: #E85547;
	font-size: 20px;
	box-shadow: 10px 10px 10px #222222;
	margin-top: 20px;
	color: #fff;
}

.page3 .page3-flex .right {
	width: 70%;
}

.page3 .page3-flex .right h2 {
	color: #fff;
	font-family: 'Popins-Medium';
	font-size: 30px;
	margin-bottom: 20px;
}

.page3 .page3-flex .right h3 {
	color: #fff;
	font-family: 'Popins-Medium';
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.page3 .page3-flex .right li {
	color: #DDDCDB;
	font-family: 'Popins-Light';
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page3 .page3-flex .right li img {
	width: 40px;
}

.page3 .page3-flex .right .btn-box {
	text-align: right;
	margin-top: 30px;
}

.page3 .page3-flex .right .btn-box button {
	font-family: 'Popins-Medium';
	padding: 10px 50px;
	border: 0;
	border-radius: 10px;
	background-color: #E85547;
	color: #fff;
	font-size: 20px;
	box-shadow: 10px 10px 10px #222222;
}

.page4 {
	max-width: 1500px;
	margin: 50px 0;
}

.page4>ul {
	display: flex;
	flex-wrap: wrap;
}

.page4>ul li {
	width: calc(100% / 6);
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.page4>ul li:hover::after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	background-color: #00000050;
	position: absolute;
	top: 0;
	z-index: 10;
}

.page4>ul li img {
	width: 100%;
	transition: 1s all;
}

.page4>ul li:hover img {
	transform: scale(1.1);
}

.page4 .btn-box {
	text-align: right;
	margin-top: 30px;
}

.page4 .btn-box button {
	font-family: 'Popins-Medium';
	padding: 10px 50px;
	border: 0;
	border-radius: 10px;
	background-color: #E85547;
	color: #fff;
	font-size: 20px;
	box-shadow: 10px 10px 10px #222222;
}

.page4 .preview-swiper {
	background: #00000070;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	/* display: none; */
}

.page4 .swiper-container {
	position: relative;
	width: 80%;
	left: 0%;
	top: 20%;
}

.page4 .swiper-slide {
	text-align: center;
}

.page4 .swiper-slide img {
	width: 60%;
}

.page4 .preview-swiper .swiper-button-prev img {
	width: 50px;
}

.page4 .preview-swiper .swiper-button-next {
	right: 22%;
}

.page4 .preview-swiper .swiper-button-prev {
	left: 22%;
}

.page4 .preview-swiper .swiper-button-next img {
	transform: rotateY(180deg);
	width: 50px;
}

.page4 .preview-swiper .swiper-button-next::after,
.page4 .preview-swiper .swiper-button-prev::after {
	display: none;
}

.page4 .preview-swiper .off {
	position: absolute;
	right: 15%;
	top: 0%;
	cursor: pointer;
	z-index: 10;
}

@media screen and (max-width:768px) {
	.page1 {
		min-width: auto;
		padding: 20px;
	}

	.page1 h1,
	.page2 h1,
	.page3 h1,
	.page4 h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.page1 .form-item .top {
		font-size: 18px;
		margin: 10px 0;
	}

	.page1 .btn-box button,
	.page3 .page3-flex .right .btn-box button {
		font-size: 16px;
	}

	.page2 {
		padding: 20px 30px;
	}

	.page2 p {
		font-size: 14px;
		margin: 10px 0;
	}

	.page2 .mb-5 {
		margin-bottom: 15px !important;
	}

	.page2 .mt-5 {
		margin-top: 15px !important;
	}

	.page3 .page3-flex,
	.page2 .btn-box {
		flex-direction: column;
	}

	.page2 .btn-box button,
	.page3 .page3-flex .left a {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.page3 .page3-flex .left img {
		width: 80%;
	}

	.page3 .page3-flex .left,
	.page3 .page3-flex .right {
		width: 100%;
	}

	.page3 .page3-flex .right h2 {
		font-size: 18px;
	}

	.page3 .page3-flex .right h3 {
		font-size: 16px;
	}

	.page3 .page3-flex .right li {
		margin: 15px 0;
		font-size: 14px;
	}

	.page3 .page3-flex .right li img {
		width: 30px;
	}

	.page3 {
		padding: 20px;
		margin: 0;
	}

	.page4>ul li {
		width: calc(100% / 2);
	}

	.page4 .swiper-slide img {
		width: 100%;
	}

	.page4 .swiper-container {
		top: 42%;
		overflow: unset;
		overflow-x: clip;

	}

	.page4 .preview-swiper .off {
		top: -15%;
		right: 5px;
		z-index: 10;
		width: 20px;
	}

	.page4 .preview-swiper .off img {
		width: 100%;
	}

	.page4 .preview-swiper .swiper-button-next,
	.page4 .preview-swiper .swiper-button-prev {
		display: none;
	}

	.page4 .btn-box,
	.page3 .page3-flex .right .btn-box {
		text-align: center;
	}

	.page4 .btn-box button {
		padding: 5px 25px;
		font-size: 18px;
	}
}
