main .title {
			color: #01823F;
			display: flex;
			align-items: center;
			flex-direction: column;
			font-family: 'Popins-Bold';
			font-size: 36px;
		}

		main .title::after {
			content: '';
			width: 220px;
			height: 6px;
			background-image: linear-gradient(90deg, #77C610 20%, #01823F);
			margin-top: 30px;
		}

		main {
			max-width: 1500px;
			margin: auto;
			padding: 50px 0;
		}

		main h2 {
			color: #01823F;
			font-size: 18px;
			font-family: 'Popins-Bold';
			margin-top: 30px;
		}

		main .mt-30 {
			margin-top: 30px;
		}

		main p,
		main li {
			font-family: 'Popins-Light';
			color: #717171;
			font-size: 18px;
			line-height: 1.7;
		}

		main ul {
			margin-bottom: 30px;
		}

		main li {
			display: flex;
			align-items: center;
		}

		main li::before {
			content: "";
			width: 4px;
			height: 4px;
			background-color: #727071;
			margin-right: 10px;
			border-radius: 50%;
		}

		@media screen and (max-width:1080px) {
			main {
			 margin-top: 160px;
				padding:20px;
			}
			main .title {
				text-align: center;
				font-size: 28px;
				margin-top: 50px;
			}
			
			main .title::after {
				margin-top: 20px;
			}
		}