<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SZWGroup | 7th Global Dairy Congress Asia 2023  </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://img.szwgroup.com/css/animate.min.css">
		<link rel="stylesheet" href="https://img.szwgroup.com/css/swiper.min.css">
		<link rel="stylesheet" href="https://img.szwgroup.com/css/bootstrap.css">
		<link rel="stylesheet" href="./css/public.css">
		<link rel="stylesheet" href="css/sponsors.css">
		<script src="https://img.szwgroup.com/js/jquery.min.js"></script>
		<script src="https://img.szwgroup.com/js/swiper.js"></script>
		<script src="https://img.szwgroup.com/js/bootstrap.min.js"></script>
		<script src="./js/v3.2.8/vue.global.prod.js"></script>
	</head>
	<body>
		<div id="app">


			<div class="navbar bg-body-tertiary fixed-top navs">
				<div class="container-fluid">
					<div class="navbar-tit">
						<a class="navbar-brand" href="#">
							<img class="leftImage" alt="Dairy Asia 2023">
							<span class="logoText"></span>
						</a>
						<div class="title logoTitle"></div>
						<div class="time logoTime"></div>
					</div>
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
						data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-content">
						<p class="timeInterval"></p>
						<p class="logoAddress"></p>
					</div>
					<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
						aria-labelledby="offcanvasNavbarLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasNavbarLabel">
								<img class="leftImage" alt="Dairy Asia 2023">
								<span class="logoText"></span>
							</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
								aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
								<li class="nav-item">
									<a class="nav-link  one" aria-current="page" href="index.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link two" aria-current="page" href="agenda.html"></a>
								</li>
								<li class="nav-item dropdown ">
									<a class="nav-link dropdown-toggle three" href="#" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
			
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item three-item1" href="speakers.html"></a>
										</li>
										<li>
											<a class="dropdown-item three-item2" href="speakers_apply.html"></a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link four" aria-current="page" href="become_a_sponsor.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link active five" aria-current="page" href="sponsors.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link six" aria-current="page" href="featured_attendees.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link seven" aria-current="page" href="exhibition.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link eight" aria-current="page" href="registration.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link nine" aria-current="page" href="contactus.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link ten" aria-current="page" href="ticket.html"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<header class="wow fadeInUp">
				<div class="Hleft">
					<div class="left">
						<div class="logo ">
							<img class="leftImage" >
							<span class="logoText"></span>
						</div>
						<div class="title logoTitle"></div>
						<div class="time logoTime"></div>
					</div>
					<div class="right">
						<p class="timeInterval"></p>
						<p class="logoAddress"></p>
						<div class="logoTitle2"></div>
					</div>
				</div>
				<div class="Hright">
					<div class="left">
						<div>
							<a href="registration.html" class="btn1 leftTopButton"></a>
							<a class="btn1 rightTopButton" href="registration.html "></a>
						</div>
						<div>
							<a class="btn1 leftBottomButton" href="registration.html"></a>
							<a class="btn2 rightBottomButton" href="ticket.html"></a>
						</div>
					</div>
					<div class="right">
						<h1 class="imageTitle"></h1>
						<img class="rightImage" alt="rightImage">
					</div>
				</div>
			</header>
			<nav class="wow fadeInUp navs">
				<div>
					<a href="index.html" class=" one"></a>
					<a href="agenda.html" class="two"></a>
					<span>
						<a href="speakers.html" class="three">
			
						</a>
						<ul>
							<li><a href="speakers.html" class="three-item1"></a></li>
							<li><a href="speakers_apply.html" class="three-item2"></a></li>
						</ul>
					</span>
					<a href="become_a_sponsor.html" class="four"></a>
					<a href="sponsors.html" class="five active"></a>
					<a href="featured_attendees.html" class="six"></a>
					<a href="exhibition.html" class="seven"></a>
					<a href="registration.html" class="eight"></a>
					<a href="contactus.html" class="nine"></a>
					<a href="ticket.html" class="ten"></a>
				</div>
			</nav>
			<main class="main1">
				<div class="Hbanner-box wow fadeInUp">
					<div class="Hbanner">
						<h1>SPONSOR AT <span>DAIRY ASIA 2023 </span></h1>
						<p>The Most Influential Dairy Platform in Asia</p>
						<a class="btn1" href="registration.html">FIND OUT MORE ABOUT SPONSORING OPPORTUNITY</a>
						<a class="btn2" href="registration.html">Request More Information</a>
					</div>
				</div>
				<div class="box">
					<!--<a href="https://www.linkedin.com/company/nuclear-atomtoday-sz-w-group/" target="_blank" rel="noopener noreferrer"><img
							src="images/in.png" alt=""></a>
					<a href="javascript:;" onclick="liveToastBtn()"><img src="images/WhatsApp.png" alt=""></a>-->
					<a href="mailto: melodyguo@szwgroup.com"><img src="images/email.png" alt=""></a>
				</div>
			</main>
			<div style="z-index: 999;" aria-live="polite" aria-atomic="true"
				class="position-fixed top-30 d-flex justify-content-center align-items-center w-100">
				<div class="toast" id="liveToast" role="alert" data-bs-autohide="false" aria-live="assertive"
					aria-atomic="true">
					<div class="toast-header">
						<strong class="me-auto">Scan QR Code</strong>
						<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
					<div class="toast-body">
						<img class="w-100" src="images/QR-Whats-steven.jpg" alt="" srcset="">
					</div>
				</div>
			</div>
			
			<!--<main class="main2 wow fadeInUp">
				<div class="main-box2">
					<h1 class="title">2023 SPONSORS & PARTNERS</h1>
					<h2 class="introduce">DAIRY ASIA 2023  Wouldn't Be Possible Without The Generous Support Of Our
						Sponsoring
						Companies.</h2>
					<div :class="item.state==2?'box2':'box1'" v-for="(item,index) in SponsorsList">
						<h1 v-if="item.state==1||item.state==3">{{item.title}}</h1>
						<img v-if="item.state==1" @click="showSponsors(index)" :src="item.image" alt="">
						<div v-if="item.state==2" class="box1">
							<h1>{{item.title}}</h1>
							<img :src="item.image" @click="showSponsors(index)" alt="">
						</div>
						<div v-if="item.state==2" class="box1">
							<h1>{{item.title2}}</h1>
							<img :src="item.image2" @click="showSponsors(index,2)" alt="">
						</div>
						<div v-if="item.state==3" class="fleximg">
							<img :src="item.image" @click="showSponsors(index)" alt="">
							<img :src="item.image2" @click="showSponsors(index,2)" alt="">
						</div>
					</div>
					<h1 class="intitle">Interested in Sponsoring DAIRY ASIA 2023 ?</h1>
					<div class="flex-btn">
						<div class="btn1">
							<a href="sponsors.html">Become a Sponsor</a>
							<div></div>
						</div>
						<div class="btn2">
							<a href="sponsors.html">Review Previous Sponsors</a>
							<div></div>
						</div>

					</div>
				</div>
			</main>-->
		
			<!-- 赞助商弹框 -->
			<!--<div class="dialog">
				<div class="head">
					<div class="left">{{SponsorsText.Name}}</div>
					<div class="off"><img @click="hideSponsors()" src="images/b-off.png" alt=""></div>
				</div>
				<div class="content">
					<img :src="SponsorsText.Image" alt="">
					<div class="cont">
						<p v-html="SponsorsText.Text"><a :href="SponsorsText.Href" target="_blank"
								rel="noopener noreferrer">{{SponsorsText.Href}}</a></p>
					</div>
				</div>
			</div> -->
		
			
			<main class="main16 wow fadeInUp">
					<h1 class="title">GDC PREVIOUS SERIES SPONSORS & EXHIBITORS</h1>
					<ul>
						<li><img src="images/Past-Sponsors-logo/1-1.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-2.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-3.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-4.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-5.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-6.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-7.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-8.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-9.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-10.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-11.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-12.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-13.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-14.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-15.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-16.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-17.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-18.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-19.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-20.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-21.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-22.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-23.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-24.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-25.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-26.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-27.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-28.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-29.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-30.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-31.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-32.png" alt=""></li>
						<li><img src="images/Past-Sponsors-logo/1-33.png" alt=""></li>
					</ul>
				</main>
			<!-- end -->
			<div class="Gotop">
				<img src="images/top.png" alt="">
			</div>
			<footer class="wow fadeInUp ">
				<div class="top">
					<div class="left">
						<div class="logo">
							<img class="footerImage" alt="">
							<span class="logoText"></span>
						</div>
						<h1 class="footerTitle"></h1>
						<h2 class="footerTime"></h2>
						<p class="timeInterval"></p>
						<p class="footerAddress"></p>
						<div class="div footerTitle2"></div>
					</div>
					<div class="right">
						<div class="head">
							<h1 class="contactUs"></h1>
							<img class="rightImage" alt="">
						</div>
						<div class="bBox createHtml">
							<!-- <div class="blbox">
					<h1 class="who"></h1>
					<p class="company"></p>
					<p class="mob"></p>
					<p>Email : <a class="email" style="color:#ffffff" target="_blank"></a></p>
					<div class="faimg">
						<a href="https://www.linkedin.com/company/nuclear-atomtoday-sz-w-group/"
							target="_blank" rel="noopener noreferrer">
							<img class="normal image1" alt="">
							<img class="none image1_hover" alt="">
						</a>
						<a href="javascript:;" onclick="liveToastBtn()">
							<img class="normal image2" alt="">
							<img class="none image2_hover" alt="">
						</a>

					</div>
				</div> -->
						</div>
					</div>
				</div>
				<div class="bottom">
					<div class="foot-box">
						<a href="http://www.szwgroup.com/" target="_blank" rel="noopener noreferrer">
							<img class="footszwgroup" alt="">
						</a>
						<p class="footerText3"></p>
						<a href="https://www.szwgroup.com/dairy/" target="_blank" rel="noopener noreferrer">
							<img class="footszwgroup2" alt="">
						</a>
						<p class="footerText4"></p>
						<div class="footerText5"></div>
					</div>
				</div>
			</footer>
		</div>
	</body>
	<script src="https://img.szwgroup.com/js/wow.min.js"></script>
	<script src="https://img.szwgroup.com/js/bootstrap.bundle.min.js"></script>
	<script src="https://img.szwgroup.com/js/wow.min.js"></script>
	<script src="js/public.js"></script>
	<script src="js/Js_sponsors.js"></script>
	<script src="js/HearderOrFooter.js"></script>
</html>
