<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>SZWGroup | 7th Global Dairy Congress Asia 2023  </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://img.szwgroup.com/css/animate.min.css">
	<link rel="stylesheet" href="./css/public.css">
	<link rel="stylesheet" href="https://img.szwgroup.com/css/swiper.min.css">
	<link rel="stylesheet" href="https://img.szwgroup.com/css/bootstrap.css">
	<link rel="stylesheet" href="./css/ticket.css?t=2023">
	<script src="https://img.szwgroup.com/js/jquery.min.js"></script>
	<script src="https://img.szwgroup.com/js/swiper.js"></script>
	<script src="https://img.szwgroup.com/js/bootstrap.min.js"></script>
	<script src="https://img.szwgroup.com/js/v3.2.8/vue.global.prod.js" type="text/javascript" charset="utf-8"></script>
	<script src="//www.paypalobjects.com/api/checkout.js" async></script>
</head>
	<body>
		<div id="app">
			<div class="navbar bg-body-tertiary fixed-top navs">
				<div class="container-fluid">
					<div class="navbar-tit">
						<a class="navbar-brand" href="#">
							<img class="leftImage" alt="Dairy Asia 2023">
							<span class="logoText"></span>
						</a>
						<div class="title logoTitle"></div>
						<div class="time logoTime"></div>
					</div>
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-content">
						<p class="timeInterval"></p>
						<p class="logoAddress"></p>
					</div>
					<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
						 aria-labelledby="offcanvasNavbarLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasNavbarLabel">
								<img class="leftImage" alt="INSURANCE">
								<span class="logoText"></span>
							</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
									aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
								<li class="nav-item">
									<a class="nav-link  one" aria-current="page" href="index.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link two" aria-current="page" href="agenda.html"></a>
								</li>
								<li class="nav-item dropdown ">
									<a class="nav-link dropdown-toggle three" href="#" role="button"
									   data-bs-toggle="dropdown" aria-expanded="false">

									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item three-item1" href="speakers.html"></a>
										</li>
										<li>
											<a class="dropdown-item three-item2" href="speakers_apply.html"></a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link four" aria-current="page" href="become_a_sponsor.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link five" aria-current="page" href="sponsors.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link six" aria-current="page" href="featured_attendees.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link seven" aria-current="page" href="exhibition.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link eight" aria-current="page" href="registration.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link nine" aria-current="page" href="contactus.html"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link active ten" aria-current="page" href="ticket.html"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end -->
			<!-- pc端头部 -->
			<header class="wow fadeInUp">
				<div class="Hleft">
					<div class="left">
						<div class="logo ">
							<img class="leftImage" >
							<span class="logoText"></span>
						</div>
						<div class="title logoTitle"></div>
						<div class="time logoTime"></div>
					</div>
					<div class="right">
						<p class="timeInterval"></p>
						<p class="logoAddress"></p>
						<div class="logoTitle2"></div>
					</div>
				</div>
				<div class="Hright">
					<div class="left">
						<div>
							<a href="registration.html" class="btn1 leftTopButton"></a>
							<a class="btn1 rightTopButton" href="registration.html "></a>
						</div>
						<div>
							<a class="btn1 leftBottomButton" href="registration.html"></a>
							<a class="btn2 rightBottomButton" href="ticket.html"></a>
						</div>
					</div>
					<div class="right">
						<h1 class="imageTitle"></h1>
						<img class="rightImage" alt="rightImage">
					</div>
				</div>
			</header>

			<!-- end -->
			<!-- pc端菜单 -->
			<nav class="wow fadeInUp navs">
				<div>
					<a href="index.html" class=" one"></a>
					<a href="agenda.html" class="two"></a>
					<span>
						<a href="speakers.html" class="three">

						</a>
						<ul>
							<li><a href="speakers.html" class="three-item1"></a></li>
							<li><a href="speakers_apply.html" class="three-item2"></a></li>
						</ul>
					</span>
					<a href="become_a_sponsor.html" class="four"></a>
					<a href="sponsors.html" class="five"></a>
					<a href="featured_attendees.html" class="six"></a>
					<a href="exhibition.html" class="seven"></a>
					<a href="registration.html" class="eight"></a>
					<a href="contactus.html" class="nine"></a>
					<a href="ticket.html" class="ten active"></a>
				</div>
			</nav>
			<div class="Hbanner-box wow fadeInUp">
				<div class="Hbanner">
					<h1>REGISTRATION</h1>
					<a href="javascript:;" onclick="onOrder()">REGISTER NOW</a>
				</div>
			</div>
			<div class="box">
				<!--<a href="https://www.linkedin.com/company/nuclear-atomtoday-sz-w-group/" target="_blank" rel="noopener noreferrer">
					<img src="images/in.png" alt="">
				</a>
				<a href="javascript:;" onclick="liveToastBtn()"><img src="images/WhatsApp.png" alt=""></a>-->
				<a href="mailto: melodyguo@szwgroup.com"><img src="images/email.png" alt=""></a>
			</div>
			<div style="z-index: 999;" aria-live="polite" aria-atomic="true"
				 class="position-fixed top-30 d-flex justify-content-center align-items-center w-100">
				<div class="toast" id="liveToast" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<strong class="me-auto">Scan QR Code</strong>
						<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
					<div class="toast-body">
						<img class="w-100" src="images/QR-Whats-steven.jpg" alt="" srcset="">
					</div>
				</div>
			</div>
			<!-- <a href="#"><img src="images/YouTube.png" alt=""></a> -->
			<div class="Gotop">
				<img src="images/top.png" alt="">
			</div>
			<main class="main1">
				<div class="head">
					<div class="left">RATES IN USD</div>
					<a class="right" href="javascript:;" onclick="onOrder()">Register <img src="images/img-ticket-right1.png" alt=""></a>
				</div>
				<ul class="ul1">
					<li>Category</li>
					<li>Date</li>
					<li>Price</li>
					<li>
						Group Rate
						<p>(*for 3 and more delegates)</p>
					</li>
				</ul>
				<ul class="ul2">
					<li>SAVE 500USD</li>
					<li>Before May 31st, 2023</li>
					<li>USD 2,085/ delegate</li>
					<li>USD 2,085/ delegate</li>
				</ul>
				<ul class="ul3">
					<li>Standard Price</li>
					<li>USD 2,585/delegate</li>
					<li>USD 2,326.5</li>
				</ul>
				<div class="content">
					<h1>Full-Pass Benefits:</h1>
					<ul>
						<li>Full 2 days conference pass</li>
						<li>Networking opportunity & Access to tea and coffee stations</li>
						<li>2 days business networking luncheon</li>
						<li>Presentation slides download</li>
					</ul>
				</div>
			</main>
			<div class="dialog">
				<div class="maskbox">
					<div class="content">
						<h1 class="title">7th Global Dairy Congress Asia 2023<p>( September 26-27, 2023 | Singapore )</p> </h1>
						<div class="step">
							Select tickets <img src="images/img-ticket-right2.png" alt="">
							Your details <img src="images/img-ticket-right2.png" alt="">
							Review
						</div>
						<div class="tip" v-if="state1">
							<h2>Please note the following errors:</h2>
							<h3>You need to select at least one ticket to make an order.</h3>
						</div>
						<img v-if="step != 0" class="back" @click="back()" src="images/img-ticket-black.png" alt="">

						<div class="card-box" v-if="step == 0">
							<div class="item-cbox">
								<div class="left">
									<h2>Early Bird - Group Price</h2>
									<h2>${{toThousands(price1)}}</h2>
								</div>
								<div class="right">
									<select v-model="num1" @change="computerPrice()">
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
									</select>
								</div>
							</div>
							<div class="item-cbox">
								<div class="left">
									<h2>Normal - Group Price</h2>
									<h2>${{toThousands(price2)}}</h2>
								</div>
								<div class="right">
									<div class="price">0</div>
									<select v-model="num2" @change="computerPrice()">
										<option value="0">0</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
										<option value="19">19</option>
										<option value="20">20</option>
									</select>
								</div>
							</div>
							<div class="item-cbox">
								<div class="left">
									<h2>Subtotal</h2>
								</div>
								<div class="right">
									<div class="price">${{toThousands(sum)}}</div>
									<div class="submit" @click="next()">{{state1?'Please wait...':'Next'}}</div>
								</div>
							</div>
							<div class="item-cbox tips">
								<!-- <h3>Need help,or lost your tickets?</h3> -->
								<a href="privacy_policy.html">Privacy Policy</a>
							</div>
						</div>
						<div class="card-box2" v-if="step == 1">
							<h1 class="card-title">Your order</h1>
							<div class="order">
								<h1 class="order-title">
									7th Global Dairy Congress Asia 2023
									<!--<small>( September 26-27, 2023 | Singapore )</small><span>-->
										 Early Bird Discount End by May 31st，If you have more than 2 delegates to join, please directly contact Melody GUO 
									<a href="mailto: melodyguo@szwgroup.com">melodyguo@szwgroup.com</a> 86-18616772565
									</span>
								</h1>
								<ul v-if="num1!=0">
									<li>Early Bird - Group Price</li>
									<li>$ {{toThousands(price1)}}</li>
									<li>x {{num1}}</li>
									<li>$ {{toThousands(price1*num1)}}</li>
								</ul>
								<ul v-if="num2!=0">
									<li>Normal - Group Price</li>
									<li>$ {{toThousands(price2)}}</li>
									<li>x {{num2}}</li>
									<li>$ {{toThousands(price2*num2)}}</li>
								</ul>
								<div class="foot">
									<h1>Order total</h1>
									<h1>$ {{toThousands(sum)}}</h1>
								</div>
							</div>
							<!-- 	<div class="coupon">
						<h2>
							Do you have a promo code? <img onclick="slideToggle(1)"
								src="images/img-ticket-coupon.png" alt="">
						</h2>
						<div class="coupon-box">
							<input placeholder="Enter promo code" type="text" v-model="inputCode">
							<input class="couponsubimt" type="submit" value="Apply" @click="apply()"/>
						</div>
					</div> -->
							<h1 class="card-title">Please complete the form below</h1>
							<div class="errors" v-if="state2">
								<h2>Please correct the errors below:</h2>
								<ul>
									<li v-for="(item,index) in errorMes">{{index+1}}.{{item}}</li>
									<!-- <li>1.Value is required and can't be empty</li>
							<li>2.First name: value is required and can't be empty</li>
							<li>3.Last name: value is required and can't be empty</li>
							<li>4.Email: Value is required and can't be empty</li>
							<li>5.Repeat Email: Value is required and can't be empty</li>
							<li>6.agree to the terms and conditions: Value is required and can't be empty</li>
							 -->
								</ul>
							</div>
							<div class="form">
								<div class="form-item form-item1">
									<div class="top">
										First name <span>*</span>
									</div>
									<input type="text" v-model="infoForm.FirstName">
									<div class="bottom" v-if="state2&&infoForm.FirstName==''">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item1">
									<div class="top">
										Last name <span>*</span>
									</div>
									<input type="text" v-model="infoForm.LastName">
									<div class="bottom" v-if="state2&&infoForm.LastName==''">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Email <span>*</span>
									</div>
									<input type="text" v-model="infoForm.Email">
									<div class="bottom" v-if="state2&&infoForm.Email==''">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Repeat Email <span>*</span>
									</div>
									<input type="text" v-model="infoForm.RepeatEmail">
									<div class="bottom"
										 v-if="(infoForm.RepeatEmail!=infoForm.Email)||(state2&&infoForm.RepeatEmail=='')">
										Value is required and can't be empty
									</div>
								</div>
							</div>
						
						
							<!--<div class="policy">
								<div class="check">
									<div class="label" @click="checkbox = !checkbox">
										<input type="checkbox" v-model="checkbox">
										I agree to the terms and conditions <span>*</span>
									</div>
									<img onclick="slideToggle(2)" src="images/img-ticket-policy.png" alt="">
								</div>
								<div class="policy-bottom" v-if="checkbox==false&&state2">
									Value is required and can't be empty
								</div>
								<div class="policy-text">
									<a href="privacy_policy.html">Privacy Policy</a>
									<p>
										In order to respond to your event registration,it is necessary to ask for
										personal
										information.This may include name,company,address,e-mail address,and telephone
										number,etc.We may use this information to respond to your requests or to contact
										you
										via mail, e-mail, orphone to inform you of services or promotions we may offer.
									</p>
									<p>
										Unless compelled by applicable legislation, we will not provide your personal
										information to a third party without your permission, except if necessary to
										provide
										services to your event participation,answer your questions, fulfill your
										requests,
										manage interactive functions, or provide a participant list available to event
										sponsors after the event The participant list is limilted toname, position,
										organization, and business email address.
									</p>
									<h3>cancellation Policy</h3>
									<p>
										This is a non-refundable conference.Registrations are however transferable (see
										Substitutionof Delegates Policy below).Should you have extenuating
										circumstances,
										you can submit yoursubstitution request to: marketing@leader-associates.com.
										Please
										remember that concelingyour registration does not automatically cancel your
										hotel
										and travel arrangements. Individualsare responsible for canceling their own
										hotel
										and travel reservations.
									</p>
									<h3>substitution of Delegate Policy</h3>
									<p>
										substitutions, including those made on-site, are allowed with the written
										permission
										of the original registrant.Requests for substitutions will only be accepted by
										email
										to melodyguo@szwgroup.com.The substituted delegate must be from the same organization
										as
										the canceled delegate.
									</p>
								</div>
							</div> -->
							<!--<div class="form form-price" v-for="(item,index) in PriceForm1">
								<h1 class="form-price-title">New Year Rate - Single Price {{index+1}}</h1>
								<div class="form-item form-item1">
									<div class="top">
										First name <span>*</span>
									</div>
									<input type="text" v-model="item.FirstName">
									<div class="bottom" v-if="item.FirstName==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item1">
									<div class="top">
										Last name <span>*</span>
									</div>
									<input type="text" v-model="item.LastName">
									<div class="bottom" v-if="item.LastName==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Email <span>*</span>
									</div>
									<input type="text" v-model="item.Email">
									<div class="bottom" v-if="item.Email==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Mobile <span>*</span>
									</div>
									<input type="text" v-model="item.Mobile">
									<div class="bottom" v-if="item.Mobile==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Company <span>*</span>
									</div>
									<input type="text" v-model="item.Company">
									<div class="bottom" v-if="item.Company==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Job Title <span>*</span>
									</div>
									<input type="text" v-model="item.JobTitle">
									<div class="bottom" v-if="item.JobTitle==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
							</div>-->
						
							<div class="form form-price" v-for="(item,index) in PriceForm2">
								<h1 class="form-price-title">New Year Rate - Group Price {{index+1}}</h1>
								<div class="form-item form-item1">
									<div class="top">
										First name <span>*</span>
									</div>
									<input type="text" v-model="item.FirstName">
									<div class="bottom" v-if="item.FirstName==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item1">
									<div class="top">
										Last name <span>*</span>
									</div>
									<input type="text" v-model="item.LastName">
									<div class="bottom" v-if="item.LastName==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Email <span>*</span>
									</div>
									<input type="text" v-model="item.Email">
									<div class="bottom" v-if="item.Email==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Mobile <span>*</span>
									</div>
									<input type="text" v-model="item.Mobile">
									<div class="bottom" v-if="item.Mobile==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Company <span>*</span>
									</div>
									<input type="text" v-model="item.Company">
									<div class="bottom" v-if="item.Company==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item2">
									<div class="top">
										Job Title <span>*</span>
									</div>
									<input type="text" v-model="item.JobTitle">
									<div class="bottom" v-if="item.JobTitle==''&&state2">
										Value is required and can't be empty
									</div>
								</div>
							</div>
							<div class="submit">
								<button @click="next()">Next</button>
							</div>
							<div class="tips">
								<!-- <h3>Need help,or lost your tickets?</h3> -->
								<a href="privacy_policy.html">Privacy Policy</a>
							</div>
						</div>
						<div class="card-box3" v-if="step == 2">
							<div class="head-box">
								<div class="head-boxtit">
									<h1>Order total:${{toThousands(sum)}}</h1>
									<p>Show summary</p>
								</div>
								<p>
									You are ordering your tickets directly from <span>Leader Associates</span> (view
									privacy.policy in newwindow) Tickets will be sent to aaa <span>
										ssa -
										123@123.com
									</span>
								</p>
							</div>
							<div class="form">
								<div class="form-item form-item2">
									<div class="top">
										Card Number <span>*</span>
									</div>
									<div class="cardnum">
										<input type="text" v-model="cardForm.CardNum" @input="inputCardNum()" @blur="JudgeNum()"
											   maxlength="19" placeholder="1234 1234 1234 1234">
										<img src="images/img-ticket-cardnum.png">
									</div>
									<div class="bottom" v-if="cardForm.CardNum==''&&state3">
										Value is required and can't be empty
									</div>
									<div class="bottom">
										{{codemes}}
									</div>
								</div>
								<div class="form-item form-item1">
									<div class="top">
										Validity Period <span>*</span>
									</div>
									<input type="text" maxlength="7" @blur="blurVPd" @input="inputVPd"
										   v-model="cardForm.ValidityPeriod" placeholder="Month/year">
									<div class="bottom" v-if="stateVP">
										The expiry year of your bank card has passed
									</div>
								</div>
								<div class="form-item form-item1">
									<div class="top">
										CVC <span>*</span>
									</div>
									<input maxlength="4" v-model="cardForm.CVC" type="text" placeholder="CVC">
									<div class="bottom" v-if="cardForm.CVC==''&&state3">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item1">
									<div class="top">
										Country/Region <span>*</span>
									</div>
									<select v-model="cardForm.Region">
										<option value="China">China</option>
										<option value="Britain">Britain</option>
										<option value="France">France</option>
										<option value="Germany">Germany</option>
									</select>
									<div class="bottom" v-if="cardForm.Region==''&&state3">
										Value is required and can't be empty
									</div>
								</div>
								<div class="form-item form-item1">
									<div class="top">
										Zip Code <span>*</span>
									</div>
									<input maxlength="6" v-model="cardForm.ZipCode" type="text" placeholder="90210">
									<div class="bottom" v-if="cardForm.ZipCode==''&&state3">
										Value is required and can't be empty
									</div>
								</div>
								<button class="submit" @click="submit()">Paypal Pay ${{toThousands(sum)}}</button>
							</div>
							<div class="tips">
								<a href="privacy_policy.html">Privacy Policy</a>
							</div>
						</div>
					</div>
				</div>
				<div class="off" onclick="offOrder()"><img src="images/w-off.png" alt=""></div>
			</div>
			<footer class="wow fadeInUp ">
				<div class="top">
					<div class="left">
						<div class="logo">
							<img class="footerImage" alt="">
							<span class="logoText"></span>
						</div>
						<h1 class="footerTitle"></h1>
						<h2 class="footerTime"></h2>
						<p class="timeInterval"></p>
						<p class="footerAddress"></p>
						<div class="div footerTitle2"></div>
					</div>
					<div class="right">
						<div class="head">
							<h1 class="contactUs"></h1>
							<img class="rightImage" alt="">
						</div>
						<div class="bBox createHtml">
							<!-- <div class="blbox">
						<h1 class="who"></h1>
						<p class="company"></p>
						<p class="mob"></p>
						<p>Email : <a class="email" style="color:#ffffff" target="_blank"></a></p>
						<div class="faimg">
							<a href="https://www.linkedin.com/company/nuclear-atomtoday-sz-w-group/"
								target="_blank" rel="noopener noreferrer">
								<img class="normal image1" alt="">
								<img class="none image1_hover" alt="">
							</a>
							<a href="javascript:;" onclick="liveToastBtn()">
								<img class="normal image2" alt="">
								<img class="none image2_hover" alt="">
							</a>

						</div>
					</div> -->
						</div>
					</div>
				</div>
				<div class="bottom">
					<div class="foot-box">
						<a href="http://www.szwgroup.com/" target="_blank" rel="noopener noreferrer">
							<img class="footszwgroup" alt="">
						</a>
						<p class="footerText3"></p>
						<a href="https://www.szwgroup.com/dairy/" target="_blank" rel="noopener noreferrer">
							<img class="footszwgroup2" alt="">
						</a>
						<p class="footerText4"></p>
						<div class="footerText5"></div>
					</div>
				</div>
			</footer>
		</div>
	</body>
	<script src="https://img.szwgroup.com/js/wow.min.js"></script>
	<script src="https://img.szwgroup.com/js/bootstrap.bundle.min.js"></script>
	<script src="./js/public.js"></script>
	<script src="./js/HearderOrFooter.js"></script>
	<script src="./js/Js_ticket.js?t=2023"></script>
	<script type="text/javascript">
		window.paypalCheckoutReady = function () {
			paypal.checkout.setup('financecc@szwgroup.com', {
				container: 'myContainer',
				environment: 'production' //or 'production' depending on your environment
			});
		};
	</script>
</html>
